---
InheritParentConfig: true
CheckOptions:
  - key:             readability-function-size.BranchThreshold
    value:           '27'
  - key:             readability-function-size.LineThreshold
    value:           '153'
  - key:             readability-function-size.StatementThreshold
    value:           '109'
  - key:             readability-function-size.ParameterThreshold
    value:           '6'
  - key:             readability-function-size.NestingThreshold
    value:           '6'
  - key:             readability-function-size.VariableThreshold
    value:           '30'
  - key:             readability-function-cognitive-complexity.Threshold
    value:           '69'
...
