---
Checks:          '-*,performance-*,cert-*,-cert-env33-c,-cert-err34-c,-cert-dcl50-cpp,-cert-err58-cpp,misc-*,-misc-unused-parameters'
WarningsAsErrors: '*'
HeaderFilterRegex: ''
AnalyzeTemporaryDtors: false
User:            lebedevri
...
