---
Checks:          '*,-clang-analyzer-*,-clang-diagnostic-*,-cppcoreguidelines-*,-cert-dcl50-cpp,-cert-env33-c,-cert-err58-cpp,-google-default-arguments,-google-readability-casting,-google-readability-todo,-google-runtime-int,-google-runtime-references,-llvm-header-guard,-llvm-include-order,-misc-unused-parameters,-readability-identifier-naming,-readability-implicit-bool-cast,-readability-inconsistent-declaration-parameter-name,-hicpp-member-init,-hicpp-special-member-functions'
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
AnalyzeTemporaryDtors: false
User:            lebedevri
CheckOptions:
  - key:             readability-braces-around-statements.ShortStatementLines
    value:           '3'
  - key:             google-readability-braces-around-statements.ShortStatementLines
    value:           '3'
  - key:             readability-function-size.BranchThreshold
    value:           '50'
  - key:             google-readability-function-size.BranchThreshold
    value:           '50'
  - key:             readability-function-size.LineThreshold
    value:           '183'
  - key:             google-readability-function-size.LineThreshold
    value:           '183'
  - key:             readability-function-size.StatementThreshold
    value:           '196'
  - key:             google-readability-function-size.StatementThreshold
    value:           '196'
  - key:             readability-function-size.ParameterThreshold
    value:           '6'
  - key:             google-readability-function-size.ParameterThreshold
    value:           '6'
  - key:             readability-simplify-boolean-expr.ChainedConditionalAssignment
    value:           '1'
  - key:             readability-simplify-boolean-expr.ChainedConditionalReturn
    value:           '1'
  - key:             performance-for-range-copy.WarnOnAllAutoCopies
    value:           '1'
  - key:             google-build-namespaces.HeaderFileExtensions
    value:           'h,hh,hpp,hxx,h++,'
  - key:             google-global-names-in-headers.HeaderFileExtensions
    value:           'h,hh,hpp,hxx,h++,'
  - key:             misc-definitions-in-headers.HeaderFileExtensions
    value:           'h,hh,hpp,hxx,h++,'
  - key:             misc-definitions-in-headers.UseHeaderFileExtension
    value:           '1'
...
