---
Checks:          '*,-clang-analyzer-*,-clang-diagnostic-*,-cert-dcl50-cpp,-cert-env33-c,-cert-err58-cpp,-cppcoreguidelines-pro-bounds-array-to-pointer-decay,-cppcoreguidelines-pro-bounds-constant-array-index,-cppcoreguidelines-pro-bounds-pointer-arithmetic,-cppcoreguidelines-pro-type-member-init,-cppcoreguidelines-pro-type-reinterpret-cast,-cppcoreguidelines-pro-type-vararg,-cppcoreguidelines-special-member-functions,-google-default-arguments,-google-readability-todo,-google-runtime-int,-hicpp-member-init,-hicpp-special-member-functions,-llvm-header-guard,-llvm-include-order,-misc-unused-parameters,-readability-implicit-bool-cast,-readability-inconsistent-declaration-parameter-name,-android-*'
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
AnalyzeTemporaryDtors: false
User:            lebedevri
CheckOptions:
  - key:             readability-braces-around-statements.ShortStatementLines
    value:           '3'
  - key:             google-readability-braces-around-statements.ShortStatementLines
    value:           '3'
  - key:             readability-function-size.BranchThreshold
    value:           '34'
  - key:             readability-function-size.LineThreshold
    value:           '166'
  - key:             readability-function-size.StatementThreshold
    value:           '153'
  - key:             readability-function-size.ParameterThreshold
    value:           '6'
  - key:             readability-function-size.NestingThreshold
    value:           '6'
  - key:             readability-simplify-boolean-expr.ChainedConditionalAssignment
    value:           '1'
  - key:             readability-simplify-boolean-expr.ChainedConditionalReturn
    value:           '1'
  - key:             performance-for-range-copy.WarnOnAllAutoCopies
    value:           '1'
  - key:             google-build-namespaces.HeaderFileExtensions
    value:           'h,hh,hpp,hxx,'
  - key:             google-global-names-in-headers.HeaderFileExtensions
    value:           'h,hh,hpp,hxx,'
  - key:             misc-definitions-in-headers.HeaderFileExtensions
    value:           'h,hh,hpp,hxx,'
  - key:             misc-definitions-in-headers.UseHeaderFileExtension
    value:           '1'
  - key:             readability-identifier-naming.NamespaceCase
    value:           lower_case
  - key:             google-runtime-references.WhiteListTypes
    value:           'benchmark::State'
...
